/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
  font-family:'Nunito Sans', sans-serif;
}


.flexContainer{
  display:flex;
  
}

.flexContainer section{
  width:100%;
  height:100%;
  min-height: 100%;
}
.navbar-shrink {
  background-color: #546A7B !important;
  height:50px !important;
}
.mainHeader{
  width:100%;
  height:75px;
  position: fixed;
}
.mainContent{
  flex-direction: column;
}
.mainNav{
 justify-content: flex-end;
} 
.mainNav a{
  margin:10px;
 }

.fillViewPort{
  min-height: 100%; /*forcing the sections to fill the full height of the window*/
}

.masthead {
  color: white;
  background-image: url("/static/img/bgHeader.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

.masthead .intro-text .intro-lead-in {
  font-size: 39px;
  font-style: italic;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.centerIntro{
  align-items: center;
  justify-content: center;
}

.jobHeader{
  justify-content: space-between;
}
.techStack{
  width:100px;
  flex-wrap: wrap;
  padding:10px;
}

.resumeSection{
  background-color:#C6C5B9;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
  overflow: auto;
}
.jobHeader{
  align-items: baseline;
}
.header{
  font-size:xx-large;
}
.subHeader{
  font-size:large;
}
.innerContainer{
  width:100%;
  max-width:900px;
  flex-direction:column;
  min-height:500px;
}
.mg-l{
  margin-left:50px;
}
.unl{
  text-decoration: underline;
}
.techCallOut{
  flex-direction: column;
  justify-content: center;
}
.medWidth{
  width:150px;
}

